

#content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;

}
body{
    background-color: rgb(107, 105, 105);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin-bottom: 100px;
 
}

#myHead{
    background-color:  rgb(75, 41, 41);
    text-align: center;
    height: 75px;
    align-items: center;
    justify-items: center;
    color:white;
    font-family: 'Charmonman', cursive;
}
#chrisPic{
    display: flex;
    justify-content: center;
    height: 200px;
    widows: 150px;
    transform: rotate(90deg);
    border-radius: 55%;
    border-style: solid;
    

}


#email{
    height: 34px;
    width: 34px;
    display: flex;
    float: left;
}
#faceBook{
    height: 34px;
    width: 34px;
}

#footer {
    display: flex;  
    background: rgb(75, 41, 41);
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 75px; 
}  
